@tailwind base;

@layer base {
  *:focus {
    @apply outline-none;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  html,
  body {
    @apply h-screen w-screen overflow-x-hidden;
    /* @apply bg-slate-700; */
    @apply bg-black;
    @apply text-white;
  }

  p {
    @apply text-sm tracking-tight;
  }

  h1 {
    @apply tracking-tight text-xl;
  }

  h2 {
    @apply text-base tracking-tight;
  }

  h3 {
    @apply text-xs tracking-tight;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/static/OpenSans/OpenSans-Light.ttf");
  src: url("/fonts/static/OpenSans/OpenSans-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Joystix Monospace";
  src: url("/fonts/JoystixMonospace-Regular.eot");
  src: local("Joystix Monospace"), local("JoystixMonospace-Regular"),
    url("/fonts/JoystixMonospace-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/oystixMonospace-Regular.woff2") format("woff2"),
    url("/fonts/JoystixMonospace-Regular.woff") format("woff"),
    url("/fonts/JoystixMonospace-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Joystix Proportional";
  src: url("/fonts/JoystixProportional-Regular.eot");
  src: local("Joystix Proportional"), local("JoystixProportional-Regular"),
    url("/fonts/JoystixProportional-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/JoystixProportional-Regular.woff2") format("woff2"),
    url("/fonts/JoystixProportional-Regular.woff") format("woff"),
    url("/fonts/JoystixProportional-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
